.container{
    display: inline-flex;
    flex-wrap:wrap;
    justify-content: center;
    font-size: large;
}



.card {
    width: 280px;
    height: auto;
    border: 1px solid black;
    box-shadow: 4px 4px 10px black;
    padding: 1px;
    margin: 20px;
}

.imgDiv{
    width: 100%;
    height: 400px;
    
}
.headingDiv{
    padding: 5px;
    width: 100%;
    height : auto;
}

.amntDist {
    padding: 5px;
    width: 100%;
    height: auto;
    /* font-size: large; */
}


